- if ! flash[:notice].nil?
  %table{:width=>"100%"}
    %tr
      %td
        .flashNoticeError
          &nbsp;&nbsp;&nbsp;
          %b= flash[:notice] 
%br
%div{:class=>"mid_bg_add text_add_6 padd25bt padd20tp-1", :cellspacing=>"2", :cellpadding=>"2", :border=>"0"}
  %table{:class => "table-structure", :cellpadding=>"0", :cellspacing=>"0", :border=>0}
    %tbody
      %tr
        %td{:colspan => "5", :align => "center", :style => "font-size: 13px;background-color:#064B70;color:#FFFFFF"}
          %u
            %b Kindly note down the file name for future reference: 
          &nbsp;&nbsp;&nbsp;
          = @unique_file_name
      %tr 
        %td
          %b &nbsp;&nbsp;&nbsp; 
          = form_tag usr_load_path(:id => @unique_file_name), :method => 'post', :multipart => "true" do
            = submit_tag " Continue To Upload.. "
        %td{:style => "vertical-align:bottom"}
          = button_to " Cancel Upload ", cancel_user_path, :confirm => "Are you sure to abort loading Users data ??"
        %td{:colspan => "3"}
      %tr 
        %td{:colspan => "5"}
          %br
      %tr{:style => "background-color:#3A82F1"} 
        %td
          %b &nbsp;&nbsp;&nbsp; Username
        %td
          %b &nbsp;&nbsp;&nbsp; Email
        %td
          %b &nbsp;&nbsp;&nbsp; Password
        %td
          %b &nbsp;&nbsp;&nbsp; Role
        %td
          %b &nbsp;&nbsp;&nbsp; Comments
      %tr 
        - for user in @users do
          %tr
            %td
              &nbsp;&nbsp;&nbsp;
              = user[:username]
            %td
              &nbsp;&nbsp;&nbsp;
              = user[:email]
            %td
              &nbsp;&nbsp;&nbsp;
              = user[:password]
            %td
              &nbsp;&nbsp;&nbsp;
              = user[:role]
            - if user[:isbad]
              %td{:style=>"color:red;font-weight:bold"}
                &nbsp;&nbsp;&nbsp;
                = user[:comment]
            - else
              %td{:style=>"color:green;font-weight:bold"}
                &nbsp;&nbsp;&nbsp;
                = user[:comment]
