= form_for @visitor do |f|
  = f.label :name, 'Name'
  = f.text_field :name
  %br
  = f.label :age, 'Age'
  = f.number_field :age, :in => [1,110], :step => 1
  %br
  = f.label :address, 'Address'
  = f.text_field :address
  %br
  = f.label :gender, 'Gender'
  = f.radio_button :gender , 0 
  Male
  = f.radio_button :gender , 1
  Female
  %br
  = f.label :mobile_no, 'Mobile No.'
  = f.text_field :mobile_no
  %br
  = f.label :visitor_type, 'Type'
  = select :visitor, :visitor_type, @coll
  %br
  = submit_tag 'Create'  
