= javascript_include_tag 'visitor'
= form_for @visitor do |visitor|
  = render "shared/error_messages", :target => @visitor
  %table{:class => "table-structure", :cellpadding=>"10", :cellspacing=>"10"}
    %tbody
      %tr
        %td
          .header_font
            = visitor.label :visitor_registration, 'Visitor Information Here'
      %tr
      %tr
      %tr
        %td
          = visitor.label :name, 'Name*'
        %td
          = visitor.text_field :name, :class => 'text_feld_area'
        %td
          = visitor.label :dob, 'Date of Birth*'
        %td
          = visitor.text_field :dob, :readonly => true, :class => 'text_feld_area'
      %tr
        %td
          = visitor.label :address, 'Address*'
        %td
          = visitor.text_area :address, :size=> "20x1"
        %td
          = visitor.label :gender, 'Gender*'
        %td
          = visitor.radio_button :gender , "male"
          Male
          = visitor.radio_button :gender , "female"
          Female
      %tr
        %td
          = visitor.label :mobile_no, 'Mobile No*'
        %td
          = visitor.text_field :mobile_no, :class => 'text_feld_area'
        %td
          = visitor.label :visitor_type, 'Type*'
        %td
          = select :visitor, :visitor_type, VISITOR_TYPE, :include_blank => ""
      %tr{:id => 'add_fields'}
        - if (!params["visitor"].blank? && params["visitor"]["visitor_type"] == 'bk') || @controller.action_name == 'edit'
          = render :partial => "add_fields"
      %tr
        %td
          = visitor.label :is_physically_challenged, 'Physically Challenged*'
        %td
          = visitor.radio_button :is_physically_challenged , 'false'
          No
          = visitor.radio_button :is_physically_challenged , 'true'
          Yes
        %td{:colspan => "2"}
      %tr
        %td{:colspan =>3, :id => 'add_info'}
          %b
            %u Addintional Info
            = image_tag('add-Icon.png')
      %tr
        %table{:class => "table-structure", :cellpadding=>"10", :cellspacing=>"10"}
          %tbody{:id => 'additional_info'}
            - if((!params["visitor"].blank?) && (!params["visitor"]["designation"].blank? || !params["visitor"]["organisation"].blank? || !params["visitor"]["transport_mode"].blank? || !params["visitor"]["age"].blank? || !params["visitor"]["is_guide"].blank? || !params["visitor"]["is_driver_along"].blank?)) || @controller.action_name == 'edit'
              = render :partial => "additional_info"
      %tr
        %td{:colspan => "4"} &nbsp;
      %tr
        %td{:colspan => "2", :align => "right"}
          = submit_tag 'Submit'
        %td{:colspan => "2", :align => "left"}
          = link_to 'Cancel', visitors_path
