= javascript_include_tag 'visitor'
%div{:class=>"mid_bg_add_visitors text_add_6 padd25bt padd20tp-1", :cellspacing=>"2", :cellpadding=>"2", :border=>"0"}
  .paginate_visitor
    = will_paginate
    .div_link
      = link_to "Add New Visitor", new_visitor_path
    .wrapper_vistors
      .left_column 
        %b Name
      .central-colunm{:align => "center"} 
        %b Age
      .right_column 
        %b Gender
      .col 
        %b Address
      .col2 
        %b Mobile
      .col3 
        %b Visitor Type
      .show_index_visitors
      .edit_index_visitors
      .delete_index_visitors
      .spacer
  - @visitors.each do |visitor|
    .wrapper_vistors
    .left_column= visitor.name
    .central-colunm{:align => "center"}= visitor.age
    .right_column= gender(visitor.gender)
    .col= visitor.address
    .col2= visitor.mobile_no
    .col3= visitor.visitor_type
    -###########################################################################################################################
    .show_index_visitors= link_to "checkin", checkinfacebox_visitor_path(:visitor_id => visitor.id), :rel=>"facebox" 
    -###### Comment the above line And Uncomment the below one If You need ColorBox Effect..
    -#.show_index_visitors= link_to "checkin",checkinfacebox_visitor_path(:visitor_id => visitor.id), :rel=>"colorbox"
    -###########################################################################################################################
    .edit_index_visitors= link_to "edit", edit_visitor_path(visitor.id)
    .delete_index_visitors
      - if can? :update, @user
        = link_to "delete", visitor_path(visitor.id), :confirm=>"Are you sure to delete #{visitor.name}?", :method => :delete
    .spacer
    = will_paginate

