%div{:class=>"mid_bg_add_users text_add_6 padd25bt padd20tp-1", :cellspacing=>"2", :cellpadding=>"2", :border=>"0"}
  = render "shared/flash_messages"
  .div_link
    = link_to "Add new User", new_user_path
  .paginate_user
    = will_paginate
    .wrapper_vistors
    .row_hover
      %table{:width=>"680px",:style => "margin-left:15px",:cellpadding=>"0", :cellspacing=>"0"}
        %tbody
          %tr{:style => "background-color: #3A82F1"}
            %td
              &nbsp;
              %b UserName
            %td
              %b Email
            %td
              %b Role
            %td{:colspan => 2}
          - @users.each do |user|
            %tr
              %td
                &nbsp;
                = user.username
              %td
                = user.email
              %td
                = user.role.rolename
              %td{:align => "center"}
                = link_to image_tag('edit.png',:title => "Edit '#{user.username}'"), edit_user_path(user)
              %td{:align => "center"}
                - if can? :update, @user
                  = link_to image_tag('delete.png',:title => "Delete '#{user.username}'"), user_path(user), :method => :delete, :confirm => "Are you sure to delete user #{user.username} ?"
