= form_for @building do |f|
  = f.label :name, 'Name'
  = f.text_field :name
  %br
  = f.label :rooms, 'No. of Rooms'
  = f.text_field :rooms
  %br
  = f.label :floors, 'No. of Floors'
  = f.text_field :floors
  %br
  = submit_tag 'Create'  
