%div{:class=>"mid_bg_add text_add_6 padd25bt padd20tp-1", :cellspacing=>"2", :cellpadding=>"2", :border=>"0"}
  .div_link
    = link_to "Add new Building Information", new_building_path
  .wrapper_building
    .left_column_building 
      %b Name
    .central-colunm-building{:align => "center"} 
      %b No. of Vacant Rooms
    .right_column_building 
      %b Total No. of Rooms
    .col_building 
      %b Floors
    .show_index
    .edit_index
    .delete_index
    .spacer
  - @buildings.each do |building|
    .wrapper_building
      .left_column_building= building.name
      .central-colunm-building{:align => "center"}= building.rooms.count
      .right_column_building= building.rooms.count
      .col_building= building.floors
      .show_index= link_to "Add Room", new_room_path(:building_id => building.id)
      -#.show_index= link_to  "show", building_path(building.id)
      .edit_index= link_to "edit", edit_building_path(building.id)
      .delete_index= link_to "delete", building_path(building.id), :method => :delete
      .spacer
