= form_for @room do |f|
  = f.label :building, 'Building'
  = f.text_field :building, :value => @building.id, :hidden => true
  = text_field_tag :building_name, @building.name, :readonly => true
  %br
  = f.label :room_no, 'Room No.'
  = f.number_field :room_no, :step => 1
  %br
  = f.label :floor, 'Floor'
  = f.number_field :floor
  %br
  = f.label :total_beds, 'Total Beds'
  = f.number_field :total_beds
  %br
  = f.label :occupied_beds, 'Occupied Beds'
  = f.number_field :occupied_beds, :value => 0
  %br
  = f.label :category, 'Type/Category'
  = select :room, :category, @room_category
  %br
  = f.label :is_ac, 'Is AC?'
  = f.radio_button :is_ac , 0 
  No
  = f.radio_button :is_ac , 1
  Yes
  %br
  = submit_tag 'Create'  
