= javascript_include_tag 'checkin', 'visitor'
%div{:class=>"mid_bg_add_visitors text_add_6 padd25bt padd20tp-1", :cellspacing=>"2", :cellpadding=>"2", :border=>"0"}
  = form_for @checkin do |f|
    -if @visitor.id.nil?
      .visitors
        = fields_for @checkin.visitor do |visitor|
          %table{:class => "table-structure", :cellpadding=>"10", :cellspacing=>"20"}
            %tbody
              %tr
                %td{:colspan=>"4"}
                  .header_font
                    = f.label :new_chekin, 'New Check In Here' 
              %tr
                %td
                  = visitor.label :name, 'Name'
                %td
                  = visitor.text_field :name, :class => 'text_feld_area'  
                %td
                  = visitor.label :age, 'Age'
                %td
                  = visitor.number_field :age, :in => [1,110], :step => 1, :class => 'text_feld_area'
              %tr
                %td
                  = visitor.label :address, 'Address'
                %td
                  = visitor.text_field :address, :class => 'text_feld_area'
                %td
                  = visitor.label :gender, 'Gender'
                %td
                  = visitor.radio_button :gender , 0 
                  Male
                  = visitor.radio_button :gender , 1
                  Female
              %tr
                %td
                  = visitor.label :mobile_no, 'Mobile No.'
                %td
                  = visitor.text_field :mobile_no, :class => 'text_feld_area'
                %td
                  = visitor.label :visitor_type, 'Type'
                %td
                  = select :visitor, :visitor_type, @coll
              %tr
                %td
                  = visitor.label :designation, 'Designation'
                %td
                  = visitor.text_field :designation, :class => 'text_feld_area'
                %td
                  = visitor.label :organisation, 'Organisation'
                %td
                  = visitor.text_field :organisation, :class => 'text_feld_area'
              %tr
                %td
                  = visitor.label :transport_mode, 'Mode of Transport'
                %td
                  = visitor.text_field :transport_mode, :class => 'text_feld_area'
                %td
                  = visitor.label :dob, 'Date of Birth'
                %td
                  = visitor.text_field :dob, :class => 'text_feld_area'
              %tr
                %td
                  = visitor.label :in_gyan_years, 'In Gyan years'
                %td
                  = visitor.number_field :in_gyan_years, :class => 'text_feld_area'
                %td
                  = visitor.label :centre_addr, 'Centre Address'
                %td
                  = visitor.text_field :centre_addr, :class => 'text_feld_area'
              %tr
                %td
                  = visitor.label :is_guide, 'Is Guide?'
                %td
                  = visitor.radio_button :is_guide , 0 
                  No
                  = visitor.radio_button :is_guide , 1
                  Yes
                %td
                  = visitor.label :email, 'Email'
                %td
                  = visitor.text_field :email, :class => 'text_feld_area'
              %tr
                %td
                  = visitor.label :qualification, 'Qualification'
                %td
                  = visitor.text_field :qualification, :class => 'text_feld_area'
                %td
                  = visitor.label :vehicle_no, 'Vehicle No.'
                %td
                  = visitor.text_field :vehicle_no, :class => 'text_feld_area'
              %tr
                %td
                  = visitor.label :is_driver_along, 'Is Driver Along'
                %td
                  = visitor.radio_button :is_driver_along , 0 
                  No
                  = visitor.radio_button :is_driver_along , 1
                  Yes
                %td
                  = visitor.label :driver_name, 'Driver Name'
                %td
                  = visitor.text_field :driver_name, :class => 'text_feld_area'
              %tr
                %td
                  = visitor.label :driver_contact_no, 'Driver Contact No.'
                %td
                  = visitor.text_field :driver_contact_no, :class => 'text_feld_area'
                %td
                  = visitor.label :is_driver_accom_req, 'Driver Accomodation Needed'
                %td
                  = visitor.radio_button :is_driver_accom_req , 0 
                  No
                  = visitor.radio_button :is_driver_accom_req , 1
                  Yes
              %tr
                %td
                  = visitor.label :is_driver_in_gyan, 'Driver in Gyan'
                %td
                  = visitor.radio_button :is_driver_in_gyan , 0 
                  No
                  = visitor.radio_button :is_driver_in_gyan , 1
                  Yes
                %td
                  = visitor.label :type_of_food, 'Type of Food'
                %td
                  = visitor.text_field :type_of_food, :class => 'text_feld_area'
              %tr
                %td
                  = visitor.label :medicine_requirement, 'Medicine Requirement'
                %td
                  = visitor.text_field :medicine_requirement, :class => 'text_feld_area'
                %td
                  = visitor.label :remarks, 'Remarks'
                %td
                  = visitor.text_field :remarks, :class => 'text_feld_area'
              %tr
                %td
                  = visitor.label :is_special_care_req, 'Special Care Needed' 
                %td
                  = visitor.radio_button :is_special_care_req , 0 
                  No
                  = visitor.radio_button :is_special_care_req , 1
                  Yes
                %td
                  = visitor.label :is_physically_challenged, 'Physically Challenged'
                %td
                  = visitor.radio_button :is_physically_challenged , 0 
                  No
                  = visitor.radio_button :is_physically_challenged , 1
                  Yes
              %tr
                %td{:colspan=>"4"}
                  = submit_tag 'Submit'
    -else
      %table{:class => "table-structure", :cellpadding=>"10", :cellspacing=>"20"}
        %tbody
          %tr
            %td{:colspan=>"4"}
              .header_font
                = f.label :visitor_checkin, 'Visitor Check In Here' 
            %td
              = f.label :visitor, 'ID', :hidden => true
              = f.text_field :visitor_id, :hidden => true, :readonly => true, :size => 1
          %tr
            %td
              = f.label :is_accom_req, 'Accomodation Required'
            %td
              = f.radio_button :is_accom_req , 0 
              No
              = f.radio_button :is_accom_req , 1
              Yes
            %td
              = f.label :meals_req, 'Meals Required'
            %td
              = check_box_tag :meals , 'breakfast'
              Breakfast
              = check_box_tag :meals , 'lunch'
              Lunch
              = check_box_tag :meals , 'dinner'
              Dinner
          %tr
            %td
              = f.label :is_sight_seeing_req, 'Sight-Seeing Required'
            %td
              = f.radio_button :is_sight_seeing_req , 0 
              No
              = f.radio_button :is_sight_seeing_req , 1
              Yes
            %td
              = f.label :remarks, 'Checkin Remarks'
            %td
              = f.text_field :remarks, :class => 'text_feld_area'
          %tr
            %td
              = f.label :no_of_days, 'No. of Days'
            %td
              = f.number_field :no_of_days, :class => 'text_feld_area' 
            %td
              = f.label :event, 'Event'
            %td
              = select :checkin, :event_id, @event_list.collect { |e| [e.name, e.id] }
          %tr
            %td
              = f.label :building, 'Building'
            %td
              = select :room, :building_id, @building_list.collect {|e| [e.name, e.id] }
            %td
              = f.label :room, 'Room'
            %td
              = select :checkin, :room_id, {:include_blank => true}  
          %tr
            %td{:colspan=>"4"}
              .rooms_result
                = f.label :is_active, 'Is Active?'
                = f.check_box :is_active, :checked => true 
          %tr
            %td{:colspan=>"4"}
              = submit_tag 'Submit'
