= javascript_include_tag 'checkin'
= form_for @checkin do |f|
  = label_tag :visitor_name, 'Visitor Name'
  = text_field_tag 'visitor[name]'
  %br
  = label_tag :visitor_age, 'Age'
  = number_field_tag 'visitor[age]', :in => [1,110], :step => 1
  %br
  = label_tag :visitor_address, 'Address'
  = text_field_tag 'visitor[address]'
  %br
  = label_tag :visitor_gender, 'Gender'
  = radio_button_tag 'visitor[gender]' , 0
  Male
  = radio_button_tag 'visitor[gender]' , 1
  Female
  %br
  = label_tag :visitor_mobile_no, 'Mobile No.'
  = text_field_tag 'visitor[mobile_no]'
  %br
  = label_tag :visitor_type, 'Type'
  = select :visitor, :visitor_type, @coll
  %br

  = f.label :no_of_days, 'No. of Days'
  = f.number_field :no_of_days 
  %br
  = f.label :event, 'Event'
  = select :checkin, :event_id, @event_list.collect { |e| [e.name, e.id] }
  %br
  = f.label :building, 'Building'
  = select :room, :building_id, @building_list.collect {|e| [e.name, e.id] }
  %br
  = f.label :room, 'Room'
  = select :checkin, :room_id, {:include_blank => true}  
  %br
  .rooms_result
  = submit_tag 'Submit'

