= form_for @checkin do |f|
  = f.label :event, 'Event'
  = select :checkin, :event_id, @event_list.collect { |e| [e.name, e.id]}, { include_blank: true}
  %br
  = f.label :building, 'Building'
  = select :room, :building_id, @building_list.collect { |e| [e.name, e.id]}, { include_blank: true}
  %br
  = text_field_tag 'building_name'
  %br
  .rooms_result

  
  = submit_tag 'Create'

