= link_to 'Add new Checkin', new_checkin_path
%table
  %tr
    %th Visitor Name
    %th Age
    %th Gender
    %th Address
    %th Mobile
    %th Type
    %th Event
    %th Building
    %th Room No.
  - @checkins.each do |checkin|
    %tr
      - if checkin.visitor 
        %td= link_to checkin.visitor.name, visitor_path(checkin.visitor.id)
        %td= checkin.visitor.age
        %td= checkin.visitor.gender
        %td= checkin.visitor.address
        %td= checkin.visitor.mobile_no
        %td= checkin.visitor.visitor_type
        - if checkin.event
          %td= checkin.event.name
        - if checkin.room
          %td= checkin.room.building.name
          %td= checkin.room.room_no
      %td= link_to "show", checkin_path(checkin.id)
      %td= link_to "edit", edit_checkin_path(checkin.id)
      %td= link_to "delete", checkin_path(checkin.id), :method => :delete

