%table
  %tr
    %th Visitor Name
    %th Age
    %th Gender
    %th Address
    %th Mobile
    %th Type
    %th Event
    %th Building
    %th Room No.
  - @checkins.each do |checkin|
    %tr
      %td= checkin.visitor.name
      %td= checkin.visitor.age
      %td= checkin.visitor.gender
      %td= checkin.visitor.address
      %td= checkin.visitor.mobile_no
      %td= checkin.visitor.visitor_type

