%div{:class=>"mid_bg_add_checkin text_add_6 padd25bt padd20tp-1", :cellspacing=>"2", :cellpadding=>"2", :border=>"1"}
  .div_link
    = link_to 'Add new Checkin', new_checkin_path
  .wrapper_checkin
    .left_column_checkin 
      %b Visitor Name
    .central-colunm-checkin{:align => "center"} 
      %b Age
    .right_column_checkin 
      %b Gender
    .col_checkin 
      %b Address
    .col2_checkin 
      %b Mobile
    .col3_checkin 
      %b Visitor Type
    .col4_checkin 
      %b Event
    .col5_checkin 
      %b Building
    .col6_checkin 
      %b Room No
    .col7_checkin 
      %b Is Active
    -#.show_index_checkin
    .edit_index_checkin
    .inactivate_checkin
    .delete_index_checkin
    .spacer
  - @checkins.each do |checkin|
    .wrapper_checkin
    - if checkin.visitor
      .left_column_checkin= checkin.visitor.name
      -#.left_column_checkin= link_to checkin.visitor.name, visitor_path(checkin.visitor.id)
      .central-colunm-checkin{:align => "center"}= checkin.visitor.age
      .right_column_checkin= gender(checkin.visitor.gender)
      .col_checkin= checkin.visitor.address
      .col2_checkin= checkin.visitor.mobile_no
      .col3_checkin= checkin.visitor.visitor_type
      - if checkin.event
        .col4_checkin= checkin.event.name
      - if checkin.room
        .col5_checkin= checkin.room.building.name
        .col6_checkin= checkin.room.room_no
      .col7_checkin= checkin.is_active
    -#.show_index_checkin= link_to "show", checkin_path(checkin.id)
    .edit_index_checkin= link_to "edit", edit_checkin_path(checkin.id)
    .inactivate_checkin= link_to "inactivate", :controller => :checkins, :action => :inactivate , :id => checkin.id
    - if can? :update, @user
      .delete_index_checkin= link_to "delete", checkin_path(checkin.id), :method => :delete, :confirm=>"Are you sure to delete visitor #{checkin.visitor.name} checkin ?" 
    .spacer
