%div{:class=>"show_page text_add_6 padd25bt padd20tp-1", :cellspacing=>"2", :cellpadding=>"2"}
  %table{:class => "table-structure_show_page", :cellpadding=>"5", :cellspacing=>"1", :border=>0}
    %tbody
      %tr
        %td
          %b= label :name, 'Name'
        %td
          = @participant.name.upcase
      %tr
        %td
          %b= label :visitor_type, 'Visitor Type'
        %td
          - gender = @participant.gender.upcase
          = @participant.visitor_type.upcase 
          = gender == "FEMALE" ? ", Sister" : ", Brother"
      %tr
        %td
          %b= label :event, 'Event'
        %td
          = @participant.event.nil? ? "" : @participant.event.name.upcase
      %tr
        %td
          %b= label :build_name, 'Building'
        %td
          = @checkin.building.name
      %tr
        %td
          %b= label :room_no, 'Room No'
        %td
          = @checkin.room.room_no
      %tr
        %td
          %b= label :floor, 'Floor'
        %td
          = @checkin.floor_id == 0 ? "Ground" : @checkin.floor_id
      %tr
        %td
          %b= label :start_date, 'From'
        %td
          = @participant.event.nil? ? "" : @participant.event.start_date_time.strftime("%d-%b-%Y")
      %tr
        %td
          %b= label :end_date, 'To'
        %td
          = @participant.event.nil? ? "" : @participant.event.end_date_time.strftime("%d-%b-%Y")
