%div{:class=>"show_page text_add_6 padd25bt padd20tp-1", :cellspacing=>"2", :cellpadding=>"2"}
  %table{:class => "table-structure_show_page", :cellpadding=>"10", :cellspacing=>"10", :border=>0}
    %tbody
      %tr
        %td{:colspan => 3,:height => "40px"}
          .header_font
            - visitor_name = @checkin.source_type.eql?("Registration") ?  @checkin.source.visitor.name : @checkin.source.name
            = "Check-In details for #{visitor_name.humanize}"
        %td{:align => "right"}
          = link_to button_to(" Go Back "),checkins_path, :method => "get", :title => "Go back to list"
      %tr
        %td{:colspan => 4}
          %hr
      %tr
        %td
          %b= label :name, 'Name'
        %td
          - visitor_name = @checkin.source_type.eql?("Registration") ?  @checkin.source.visitor.name : @checkin.source.name
          = text_field_tag 'name', visitor_name.upcase, :disabled => true, :class => 'text_feld_area_show_page'
        %td
          %b= label :gender, 'Gender'
        %td
          - gender = @checkin.source_type.eql?("Registration") ?  @checkin.source.visitor.gender : @checkin.source.gender
          = text_field_tag 'dob', gender == "female" ? "Female" : "Male", :disabled => true, :class => 'text_feld_area_small'
      %tr
        %td
          %b= label :visitor_type, 'Visitor Type'
        %td
          -visitor_type = @checkin.source_type.eql?("Registration") ?  @checkin.source.visitor.visitor_type : @checkin.source.visitor_type
          = text_field_tag 'visitor', visitor_type.upcase, :class => 'text_feld_area_small', :disabled => true
        %td
          %b= label :event, 'Event'
        %td
          -event = @checkin.source_type.eql?("Registration") ?  @checkin.source.event.name : @checkin.source.event.name
          = text_field_tag 'event', event.upcase, :class => 'text_feld_area_show_page', :disabled => true
      %tr
        %td
          %b= label :build_name, 'Building'
        %td
          = text_field_tag 'build_name', @checkin.building.name, :class => 'text_feld_area_show_page', :disabled => true
        %td
          %b= label :room_no, 'Room No'
        %td
          = text_field_tag 'room_no', @checkin.room.room_no, :class => 'text_feld_area_small', :disabled => true
      %tr
        %td
          %b= label :floor, 'Floor'
        %td
          = text_field_tag 'floor', @checkin.floor_id, :class => 'text_feld_area_small', :disabled => true
        %td
          %b= label :is_active, 'Is Active'
        %td
          = text_field_tag 'is_active', @checkin.is_active == true ? 'YES' : 'NO', :class => 'text_feld_area_small', :disabled => true
