!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title ORC Accomodation Administration Console
    = stylesheet_link_tag "application", "screen"
    = javascript_include_tag :defaults, 'jquery', 'jquery.min', 'jquery_ujs', 'jquery-ui'
    = csrf_meta_tag
  %body
    #header
      %a{:href => "#"}
        %img.padd20tp{:border => "0", :src => "/images/login_img.png"}/
      %a{:href => root_path}
        %img.paddlt5.paddtp10{:border => "0", :src => "/images/copny_name_img.png"}/
      #navigation
        = render_navigation
    #contentBody
      = yield